.containerUsers {
    display: flex;
    padding-top: 1em;
    justify-content: center;
    flex-direction: column;
}
  
table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}
  
th, td {
    padding: 10px;
    word-wrap: break-word;
}
  
table, th, td {
    border: 1px solid black;
}

.name,
.lastname,
.gmail{
    display: none;
}


@media screen and (min-width: 992px) {
    .name,
    .gmail{
        display: table-cell;
    }
}