<div class="navbar">
  <a class="Logo" routerLink="">LibrarySGL</a>
  <mat-icon (click)="toggleNav()" class="abrir-menu">menu</mat-icon>
  <nav class="nav" [ngClass]="{'visible': isNavVisible}">
    <mat-icon (click)="toggleNav()" aria-hidden="false" fontIcon="close"></mat-icon>
    <ul class="nav-list">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="users-detalls">Users</a></li>
      <li><a routerLink="library-detalls">Library-detalls</a></li>
    </ul>
  </nav>
</div>


<div class="navbar1">
  <a class="Logo, invisible" routerLink="">LibrarySGL</a>
  <a class="Logo, invisible" routerLink="users-detalls">Users</a>
  <a class="Logo, invisible" routerLink="library-detalls">Library-detalls</a>
</div>
