//style navbar
.navbar{
    font-size: 23px;
    display: flex;
    height: 70px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-around;
    
}

.containermenu {
    background-color: aqua;
    display: inline;
}



